In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import json
import random

file_to_load = "Finalcrime.csv"
crime_data = pd.read_csv(file_to_load)
crime_data.head()

,Unnamed: 0,ARREST_DATE,LAW_CODE,AGE_GROUP,PERP_SEX,PERP_RACE,Latitude,Longitude,Zipcode
0,363285,08/21/2018,PL 1202000,<18,M,BLACK,40.839592,-73.926330,10452.0
1,112334,08/02/2017,PL 1401500,18-24,M,BLACK,40.757068,-73.999103,10018.0
2,351363,09/08/2018,PL 1552500,18-24,M,WHITE HISPANIC,40.729082,-73.988788,10003.0
3,108328,08/07/2017,LOC000000V,18-24,F,BLACK,40.690367,-73.989739,11201.0
4,345794,09/17/2018,PL 1553005,<18,M,BLACK HISPANIC,40.814853,-73.956313,10027.0

In [8]:
clean_df = crime_data.dropna(how=' ')
zipcode_df = crime_data.astype({"Zipcode": int})

ValueError: invalid how option: